.header {
    overflow: hidden;
    background-color: blueviolet;
    
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header img.logo {
    width:50px ;
    height: 50px;
  }
  
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  }
  
.fulldiv{
    height: 100%;
    background: yellow;
}

